
@using Microsoft.AspNetCore.Html
@model dynamic


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Anniversary!</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        body {
            width: 100% !important;
            height: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td style="text-align:center">
                    <img class="image_resized"
                         style="width: 400px"
                         src="https://umug.umoja-international.com/eimages/contgratulation.jpg" />
                </td>
            </tr>
            @(new HtmlString(Model.BodyText))
            <tr style="color: #84bee7; text-align: center">
                <td>Thank you for being a valuable member of our team</td>
            </tr>
        </tbody>
    </table>
</body>
</html>







